<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.flashtex.commander-supervisor</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/kubar/flashtex-supervisor/supervisor.sh</string>
    <string>90</string>
  </array>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>StandardOutPath</key><string>/Users/kubar/flashtex-supervisor/launchd.out.log</string>
  <key>StandardErrorPath</key><string>/Users/kubar/flashtex-supervisor/launchd.err.log</string>
  <key>WorkingDirectory</key><string>/Users/kubar/flashtex-supervisor</string>
  <key>EnvironmentVariables</key>
  <dict><key>PATH</key><string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/Users/kubar/.local/bin</string></dict>
</dict>
</plist>
